body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navMain {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  margin: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

#top {
  background-color: #F5F5F5;
}

.topText {
  text-align: center;
  display: block;
  font-family: 'Teko', sans-serif;  margin-left: 20vw;
  padding-top: 100px;
  padding-bottom: 60px;
  width: 60vw;
  font-size: 20px;
  background-color: #F5F5F5;
}

.moreDetails {
  text-align: center;
  display: block;
  width: 60vw;
  font-family: 'Work Sans', sans-serif;  margin-left: 20vw;
  margin-top: 0;
  color: white;
}

.detailsDiv {
  display: block;
  background-color: black;
  margin: auto;
}

.options {
  height: 200px;
}

.optionsPrice {
  font-family: 'Epilogue', sans-serif;  margin-top: 6%;
  font-size: 30px;
  margin-left: 10vw;
}


.sh {
  font-size: 6px;
}

#colorPicker {
  margin-left: 40vw;
  margin-top: -14vh;
}
